@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .bannerIcon{
       
       width: 40px;
       background: rgba(0, 128, 0, 0.3) black;
       height: 40px;
       justify-content: center;
       align-items: center;
       display: inline-flex;
       border-radius: 8px;
       box-shadow: 10px 10px 19px #1c1e22;
          

       
    ;       
    }
    .bannerIcon :hover{
        transform: scale(1.1);
        cursor: pointer;
        transition-duration: 300;

    }
    #cards {
        box-shadow: 10px 10px 19px #1c1e22;
    }
    #resumecard{
        box-shadow: 10px 10px 19px #1c1e22;

    }
    #contactdiv {
        box-shadow: 10px 10px 19px #1c1e22;
    }
}

